USE [master]
GO
/****** Object:  Database [MiniBank]    Script Date: 29.06.2020 20:13:44 ******/
CREATE DATABASE [MiniBank]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MiniBank', FILENAME = N'C:\Program Files\MSSQL14.SQLEXPRESS\MSSQL\DATA\MiniBank.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MiniBank_log', FILENAME = N'C:\Program Files\MSSQL14.SQLEXPRESS\MSSQL\DATA\MiniBank_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MiniBank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MiniBank]
GO
/****** Object:  Table [dbo].[corporation]    Script Date: 29.06.2020 20:13:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[corporation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](15) NOT NULL,
	[email] [nchar](35) NULL,
	[telephone] [nchar](13) NULL,
	[password] [nchar](20) NULL,
	[balance] [float] NOT NULL,
	[keashbeakType] [nchar](15) NULL,
	[adress] [nchar](35) NULL,
 CONSTRAINT [PK_corporation] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Keashbeak]    Script Date: 29.06.2020 20:13:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keashbeak](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Jurnei] [int] NULL,
	[Menicine] [int] NULL,
	[Games] [int] NULL,
	[Kafe] [int] NULL,
	[Produkts] [int] NULL,
	[Kino] [int] NULL,
	[Auto] [int] NULL,
	[Clothers] [int] NULL,
	[Taxi] [int] NULL,
	[Animals] [int] NULL,
	[Books] [int] NULL,
	[Flowers] [int] NULL,
 CONSTRAINT [PK_Keashbeak] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 29.06.2020 20:13:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nchar](15) NULL,
	[SecondName] [nchar](15) NULL,
	[email] [nchar](35) NULL,
	[telephone] [nchar](13) NOT NULL,
	[password] [nchar](20) NOT NULL,
	[nameOfCard] [nchar](16) NOT NULL,
	[balance] [float] NOT NULL,
	[idKeashbeak] [int] NULL,
	[adress] [nchar](35) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
